<html>
<head>
	<title>XMPP Tweets</title>
	<!-- Framework CSS -->
	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
	<div class="container" style="padding-top: 20px;"><!-- inline CSS is evil -->
	  <div class="span-6">&nbsp;</div>
  	<div class="span-12">
  		<h1 class="center">XMPP Tweets</h1>
  		<p>Miss being able to follow your tweets in XMPP? A solution is coming soon!</p>
      <p>Interested in beta testing? <a href="mailto:lstoll@lstoll.net?subject=TetherMe Feedback">mail me</a>.</p>
  	  <p>Created by <a href="http://lstoll.net">Lincoln Stoll</a></p>
  	</div>
	</div>

</body>
</html>